/*=== RESET 重置 ===*/

* {
    margin: 0;
    padding: 0;
}

ol,
ul,
li {
    list-style: none;
}

img {
    border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

strong,
em,
b,
i {
    font-weight: normal;
    font-style: normal;
}

input,
button,
textarea,
select,
option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}

/*=== BASE ===*/

body {
	background: #f7f7f7;
	font-family: "微軟正黑體", arial, sans-serif;
	font-size: 16px;
	line-height: 160%;
	color: #000;
}

a {
	color: #111;
	text-decoration: none;
	transition: color .5s ease;
}

a:hover {
	color: #007bff;
}

/*=== debug ===*/

* {border: 1px solid #000;}
body {border: 0;}

/*=== LAYOUT 版面 ===*/

.container {
	width: 800px;
	margin: 0 auto;
}

header {
	overflow: hidden;
}


/*=== COMPONENT 元件 ===*/

.logo {
	float: left;
}

.logo a {
	display: inline-block;
	width: 153px;
	height: 24px;
	background: url("../img/logo.png") 0 0 no-repeat;
	text-indent: 154px;
	white-space: nowrap;
	overflow: hidden;
}

nav {
	float: right;
}

nav li {
    display: inline-block;
    margin: 0 5px;
}

nav li input
{
    background: #000;
    color: #f7f7f7;    
}

/*=== MODULE 模組 ===*/